.board {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 50vmin;
	width: 50vmin;
	margin: auto;
}

.box {
	border: 1px solid;
	border-color: #444444;
	margin: 3px;
}

.box0 {
	background-color: yellow;
}

.box1 {
	background-color: blue;
}

.box2 {
	background-color: green;
}

.box3 {
	background-color: red;
}
