.board {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 50vmin;
	width: 50vmin;
	margin: auto;
}

.box {
	border: 1px solid;
	border-color: #444444;
	margin: 3px;
	transition: 0s 0.1s;
}

.box:active {
	transition: 0s;
}
.box0 {
	background-color: #ffff0022;
}

.box1 {
	background-color: #0000ff44;
}

.box2 {
	background-color: #00880044;
}

.box3 {
	background-color: #ff000044;
}

.box0:active {
	background-color: #ffff00;
}

.box1:active {
	background-color: #0000ff;
}

.box2:active {
	background-color: #008800;
}

.box3:active {
	background-color: #ff0000;
}
